# SPDX-FileCopyrightText: 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.29.0
  hooks:
  - id: gitleaks
- repo: https://github.com/golangci/golangci-lint
  rev: v2.6.1
  hooks:
  - id: golangci-lint
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
