# SPDX-License-Identifier: Apache-2.0
# Copyright 2023 Canonical Ltd.
# Copyright 2024 Intel Corporation
name: CI Pipeline

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    if: github.event_name == 'pull_request'
    permissions:
      contents: read
      actions: read
      security-events: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/upf-build-upf.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}

  build-ptf:
    if: github.event_name == 'pull_request'
    permissions:
      contents: read
      actions: read
      security-events: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/upf-build-ptf.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}

  lint:
    permissions:
      contents: read
      checks: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/lint.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}

  hadolint:
    permissions:
      contents: read
      security-events: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/hadolint.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}

  check-spelling:
    permissions:
      contents: read
      checks: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/check-spelling.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}

  route-control-tests:
    permissions:
      contents: read
      checks: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/upf-route-control-tests.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}

  unit-tests-pfcp:
    permissions:
      contents: read
      checks: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/unit-test.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}
      test_flags: "-race -failfast -v"
      test_directory: "./pfcpiface ./cmd/..."

  integration-tests-bess:
    permissions:
      contents: read
      checks: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/unit-test.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}
      test_flags: "-race -failfast -v -count=1"
      test_directory: "./test/integration/..."
      env_vars: "MODE=native DATAPATH=bess"

  license-check:
    permissions:
      contents: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/license-check.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}

  fossa-scan:
    permissions:
      contents: read
      security-events: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/fossa-scan.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}

  analysis:
    if: github.repository_owner == 'omec-project'
    permissions:
      actions: read
      artifact-metadata: read
      attestations: read
      checks: read
      contents: read
      deployments: read
      discussions: read
      id-token: write
      issues: read
      models: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      security-events: write
      statuses: read
    uses: omec-project/.github/.github/workflows/scorecard-analysis.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}
