# SPDX-License-Identifier: Apache-2.0
# Copyright 2019 Intel Corporation
# Copyright 2022 Open Networking Foundation
name: Pull Request

on: [pull_request]

concurrency:
  group: ${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build:
    env:
      DOCKER_REGISTRY: "ghcr.io/omec-project/"
      DOCKER_REPOSITORY: "upf-epc/"
      VERSION: "PR-${{ github.event.pull_request.number }}"
    runs-on: ubuntu-latest
    steps:
      # Checkout and build
      - uses: actions/checkout@v3

      - name: Generate protobuf
        run: |
          make pb

      - name: Build the BESS-UPF Docker image
        run: |
          DOCKER_TARGETS=bess make docker-build

      - name: Build the PFCP Agent Docker image
        run: |
          DOCKER_TARGETS=pfcpiface make docker-build

      # Format the code
      - name: Clang Format
        run: |
          SRC=$(git ls-tree --full-tree -r HEAD | grep -v vendor/ | grep -e "\.\(c\|h\|cc\|hh\|hpp\|cpp\)\$" | cut -f 2)
          wget https://raw.githubusercontent.com/NetSys/bess/master/core/.clang-format
          clang-format -style=file -i $SRC
          rm .clang-format
      - name: Shell Format
        run: |
          wget -qO shfmt https://github.com/mvdan/sh/releases/download/v3.1.1/shfmt_v3.1.1_linux_amd64
          chmod +x shfmt && sudo mv shfmt /bin
          # https://github.com/mvdan/sh/issues/288
          shfmt -l -w $(shfmt -f . | grep -v vendor/)
      - name: Go Format
        run: |
          make fmt

      - name: Show all CI changes
        run: |
          git --no-pager diff
      # Verify P4 constants
      - name: Build P4 constants
        id: check
        run: |
          make p4-constants
          echo "::set-output name=PORCELAIN::`git status internal/p4constants/ --porcelain`"
      - name: Check P4 constants are updated
        if: ${{ steps.check.outputs.PORCELAIN != '' }}
        uses: actions/github-script@v6
        with:
          script: |
            core.setFailed('Please run make p4-constants and commit changes')

      # Build again and commit
      - name: Build the BESS-UPF Docker image (after format)
        run: |
          DOCKER_TARGETS=bess make docker-build

      - name: Build the PFCP Agent Docker image (after format)
        run: |
          DOCKER_TARGETS=pfcpiface make docker-build

      - name: Update PR with changes
        uses: gr2m/create-or-update-pull-request-action@v1.x
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body: |
            Updated with changes from CI
          branch: ${{ github.event.pull_request.head.ref }}
          author: "Github Actions <actions@github>"
          commit-message: "Actions: Updated with changes from CI"
      - id: docker-login
        # Secrets from the main repo are not used if PR comes from fork. We skip pushing Docker image then.
        if: github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]'
        uses: docker/login-action@v1.14.1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Push Docker image
        if: steps.docker-login.conclusion == 'success'
        run: |
          make docker-push
