name: Pull Request

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      # Checkout and build
    - uses: actions/checkout@v1
    - name: Build the Docker image
      env:
        MAKEFLAGS: "-j4"
      run: |
        docker build --pull --build-arg="MAKEFLAGS=$MAKEFLAGS" --target=bess -t spgwu .
        docker build --pull --build-arg="MAKEFLAGS=$MAKEFLAGS" --target=cpiface -t cpiface .

    # Format the code
    - name: Dependencies
      env:
        HUB_VER: 2.13.0
      run: |
        sudo apt-get -y install jq clang-format-8
        sudo cp $(which clang-format-8) /bin/clang-format
        wget -q -O- \
          https://github.com/github/hub/releases/download/v$HUB_VER/hub-linux-amd64-$HUB_VER.tgz | \
          sudo tar xz --strip-components=2 --wildcards '*/bin/hub' && sudo mv hub /bin/hub
    - name: Checkout PR
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        hub pr checkout $(jq -r ".number" "$GITHUB_EVENT_PATH")
    - name: Clang Format
      run: |
        SRC=$(git ls-tree --full-tree -r HEAD | grep -e "\.\(c\|h\|cc\|hh\|hpp\|cpp\)\$" | cut -f 2)
        wget https://raw.githubusercontent.com/NetSys/bess/master/core/.clang-format
        clang-format -style=file -i $SRC
        rm .clang-format
    - name: Shell Format
      run: |
        wget -qO shfmt https://github.com/mvdan/sh/releases/download/v2.6.4/shfmt_v2.6.4_linux_amd64
        chmod +x shfmt && sudo mv shfmt /bin
        shfmt -w -l .

    # Build again and commit
    - name: Build the Docker image (after format)
      env:
        MAKEFLAGS: "-j4"
      run: |
        docker build --pull --build-arg="MAKEFLAGS=$MAKEFLAGS" --target=bess -t spgwu .
        docker build --pull --build-arg="MAKEFLAGS=$MAKEFLAGS" --target=cpiface -t cpiface .
    - name: Commit and push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git remote set-url origin https://x-access-token:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git
        git config --global user.email "actions@github"
        git config --global user.name "Github Actions"
        hub commit -a -m "Apply formatting" && hub push || echo "Nothing to commit"
