# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation
name: Release Pipeline

on:
  push:
    branches:
      - main
    paths:
      - "VERSION"

permissions:
  contents: read

jobs:
  tag-github:
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/tag-github.yml@64e827412bb394b5458ef48b4e178fc1c702678a # v0.0.10
    secrets: inherit

  release-image:
    needs: tag-github
    permissions:
      contents: read
      packages: write
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/upf-release-image.yml@64e827412bb394b5458ef48b4e178fc1c702678a # v0.0.10
    with:
      branch_name: ${{ github.ref }}
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
    secrets: inherit

  update-version:
    needs: tag-github
    permissions:
      contents: write
      pull-requests: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/update-version.yml@64e827412bb394b5458ef48b4e178fc1c702678a # v0.0.10
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
    secrets: inherit

  branch-release:
    needs: tag-github
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/branch-release.yml@64e827412bb394b5458ef48b4e178fc1c702678a # v0.0.10
    with:
      release_branch: ${{ needs.tag-github.outputs.release_branch }}
      version_branch: ${{ needs.tag-github.outputs.version_branch }}
    secrets: inherit
