# SPDX-License-Identifier: Apache-2.0
# Copyright 2024-present Intel Corporation
name: Release Pipeline

on:
  push:
    branches:
      - main
    paths:
      - "VERSION"

permissions:
  contents: read

jobs:
  tag-github:
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/tag-github.yml@40ff5b9cd1d59e64caae6f30ed9ccbece3951ea6 # v0.0.17
    secrets: inherit

  release-image:
    needs: tag-github
    permissions:
      contents: read
      packages: write
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/upf-release-image.yml@40ff5b9cd1d59e64caae6f30ed9ccbece3951ea6 # v0.0.17
    with:
      branch_name: ${{ github.ref }}
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
    secrets: inherit

  update-version:
    needs: tag-github
    permissions:
      contents: write
      pull-requests: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/update-version.yml@40ff5b9cd1d59e64caae6f30ed9ccbece3951ea6 # v0.0.17
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
    secrets: inherit

  branch-release:
    needs: tag-github
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/branch-release.yml@40ff5b9cd1d59e64caae6f30ed9ccbece3951ea6 # v0.0.17
    with:
      release_branch: ${{ needs.tag-github.outputs.release_branch }}
      version_branch: ${{ needs.tag-github.outputs.version_branch }}
    secrets: inherit

  sbom-source:
    needs: tag-github
    permissions:
      contents: read
      actions: read
    uses: omec-project/.github/.github/workflows/sbom-source.yml@40ff5b9cd1d59e64caae6f30ed9ccbece3951ea6 # v0.0.17
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      branch_name: ${{ github.ref }}
      artifact_name: ${{ github.event.repository.name }}-${{ needs.tag-github.outputs.version }}.spdx.json
      sbom_format: spdx-json
      path: .

  grype-scan:
    needs: [tag-github, sbom-source]
    permissions:
      contents: read
      actions: read
      security-events: write # Required for SARIF upload to Code Scanning
    uses: omec-project/.github/.github/workflows/grype-scan.yml@40ff5b9cd1d59e64caae6f30ed9ccbece3951ea6 # v0.0.17
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      artifact_name: ${{ github.event.repository.name }}-${{ needs.tag-github.outputs.version }}.spdx.json
