# SPDX-License-Identifier: Apache-2.0
# Copyright 2023 Canonical Ltd.
# Copyright 2023 Open Networking Foundation
name: Python Lint and Test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Create virtual environment
      run: python -m venv venv

    - name: Install dependencies
      run: |
        source ./venv/bin/activate
        pip install -r ./conf/test-requirements.txt

    - name: Run tests
      run: |
        source ./venv/bin/activate
        python -m unittest conf/test_route_control.py
