# SPDX-License-Identifier: Apache-2.0
# Copyright 2019-present Intel Corporation
# Copyright 2025 Canonical Ltd.
on:
  schedule:
    - cron: "0 0 * * *"

permissions:
  issues: write
  pull-requests: write
  contents: read

jobs:
  stale:
    permissions:
      issues: write
      pull-requests: write
      contents: read
      actions: read
    uses: omec-project/.github/.github/workflows/stale-issue.yml@36aa0b99a066462a75991f9a9f518254ae002465 # v0.0.9
    with:
      days_before_stale: 120
      days_before_close: 15
    secrets: inherit
